.Block5{
  @include rectangle($white, 320px);
  position: relative;
  align-items: end;
  gap: 3.3em;
  h5{
    position: absolute;
    top: -50px;
    color: $black80;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
  }
  .counter{
    position: absolute;
    top: 3%;
    left: 82%;
    color: $black80;
  }
  .arrows{
    display: flex;
    position: absolute;
    top: 5%;
    left: 87.5%;
    gap: 20px;
  }
  .CommentCard{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 270px;
    height: 250px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 34px;
    .user{
      display: flex;
      width: 100%;
      gap: 15px;
      .ava{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: url('../../../public/pictures/muscularMan.jpeg') center no-repeat;
        background-size: cover;
      }
      .nickname{
        display: flex;
        position: relative;
        height: 100%;
        width: auto;
        align-items: end;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0;
        text-align: left;
        color: black;
        .mark{
          position: absolute;
          top: 3px;
        }
      }
    }
    p{
      font-family: 'Roboto', Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
      color: $black60;
    }
  }
}