.Block2 {
  @include rectangle($white, 425px);

  .left {
    display: flex;
    width: 55%;
    height: 100%;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: $black80;
    }

    p {
      @include mainText;
      color: $black60;
      margin: 1.5em 0;
      width: 70%;
    }

    a {
      @include mainText;
      @include button-base;
      background-color: $black100;
      color: $white;
    }
  }

  .right {
    height: 100%;
    width: 45%;
    background: url('/pictures/muscularMan1.jpeg') center no-repeat;
    background-size: contain;
  }
}