a {
  text-decoration: none;
  color: #959595;
}


h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 77px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

h2 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

h4 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  margin: 0.5em 0;
}

